* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 70px;
}

.univ-row {
  border: 1px gray solid;
  border-radius: 2px;
  margin-bottom: 2px;
}

.univer-logo {
  margin-right: 20px;
  height: 30px;
  width: 30px;
}
.headerText {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px;
  font-size: 50px;
  font-weight: 800;
  color: #1E4554;
}

.padding-for-card {
  padding-bottom: 40px;
}

.logoText {
  color: #1E4554;
  font-size: 30px;
}

.alerta {
  display: none;
}

.displayBlock {
  display: block;
}

.video {
  display: flex;
  justify-content: center;

}

.video video {
  margin: 0;
  padding: 0;
  border: 4px solid #1E4554;
  border-radius: 12px;
}

.uniListCard {
  cursor: pointer;
}

.uniListCard:hover {
  background-color: lightgray;
}

.professions {
  display: flex;
  justify-content: center;
  margin: 15% auto;
}

#select{
  opacity: 0.3;
  background-color: whitesmoke;
  border-radius: 5px;
  width: auto;
  height: 42px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 32px;
}

#select option {
  opacity: 0.3;
  color: gray;
}

.professions button {
  height: 42px;
  /* opacity: 0.3; */
}

#back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

}

@media (min-aspect-ratio : 16/9) {
  #back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio : 16/9) {
  #back-video {
    width: auto;
    height: 100%;
  }
}